<h1>Listing profiles</h1>
<hr />
<% @profiles.each do |profile| %>
<div class="index-item">
  <h3><%= link_to profile.name, profile %></h3>
  <p>Email: <%= profile.user.email %>, Location: <%= profile.location %></p>
  <div class="admin-box"><%= link_to 'Edit', edit_profile_path(profile),:class=>"edit" %><%= link_to 'X', profile, :confirm => 'Are you sure?', :method => :delete,:class=>"destroy" %></div>
</div>
<hr/>
<% end %>
<h3><%= link_to 'New Profile', new_profile_path %></h3>
