<%= form_for @assignment, :'data-type' => 'json', :remote => true do |f| %>
  <h3><%= f.label :user_id %></h3>
  <%= f.text_field :user_id %>
  <%= f.hidden_field :goal_id, :value => @goal.id %>
  <h3><%= f.label :task %></h3>
  <%= f.text_area :task %>
  <%= f.submit %>
<% end %>
