<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @assignment.user_id %>
</p>

<p>
  <b>Goal:</b>
  <%= @assignment.goal_id %>
</p>

<p>
  <b>Task:</b>
  <%= @assignment.task %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
