<%= form_for @tag do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>


  <%= f.fields_for :tag_links do |tag_field| %>
    <div class="field">
      <%= tag_field.label :taggable_id %><br />
      <%= tag_field.text_field :taggable_id %>
    </div>
    <div class="field">
      <%= tag_field.label :taggable_type %><br />
      <%= tag_field.text_field :taggable_type %>
    </div>
    <div class="field">
      <%= tag_field.label :tag_type %><br />
      <%= tag_field.text_field :tag_type %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
