<p id="notice"><%= notice %></p>

<p>
  <b>Taggable:</b>
  <%= @tag_link.taggable_id %>
</p>

<p>
  <b>Taggable type:</b>
  <%= @tag_link.taggable_type %>
</p>

<p>
  <b>Tag:</b>
  <%= @tag_link.tag_id %>
</p>

<p>
  <b>Type:</b>
  <%= @tag_link.tag_type %>
</p>


<%= link_to 'Edit', edit_tag_link_path(@tag_link) %> |
<%= link_to 'Back', tag_links_path %>
