<%= form_for(@seed) do |f| %>
  <% if @seed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seed.errors.count, "error") %> prohibited this seed from being saved:</h2>

      <ul>
        <% @seed.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h3><%= f.label :name %></h3>
    <%= f.text_field :name %>
<h3><%= f.label :problem %></h3>
    <%= f.text_area :problem %>
<h3><%= f.label :vision %></h3>
    <%= f.text_area :vision %>
<h3><%= f.label :scope %></h3>
    <%= f.text_area :scope %>
    <%#= f.label :visibility %>
    <%#= f.text_field :visibility %>
<h3><%= f.label :category %></h3>
    <%= f.collection_select :category_id, @categories, :id, :name %>
<hr/>
 <%= f.submit %>
<% end %>
