<h1>Listing seeds</h1>
<hr />

<% @seeds.each do |seed| %>
  <div class="index-item">
    <h3><%= link_to seed.name,seed_path(seed) %></h3>
    <p><%= seed.problem %></p>
    <p>Category: <%= link_to seed.category.name, seed.category %></p>
    <div class="admin-box"><%= link_to 'Edit', edit_seed_path(seed), :class => "edit" %><%= link_to 'X', seed, :confirm => 'Are you sure?', :method => :delete, :class => "destroy" %></div>
  </div>
  <hr />
<% end %>

  <h3><%= link_to 'New Seed', new_seed_path %></h3>
