<p>
  <b>Name:</b>
  <%= @seed.name %>
</p>

<p>
  <b>Problem:</b>
  <%= @seed.problem %>
</p>

<p>
  <b>Vision:</b>
  <%= @seed.vision %>
</p>

<p>
  <b>Scope:</b>
  <%= @seed.scope %>
</p>

<p><b>Creator</b>: <%= @seed.user.profile.name %></p>

<p>Goals:
  <% if !@seed.goals.empty? %>
  <ul>
    <%  @seed.goals.each do |goal|  %>
      <li><b><%= link_to goal.name, [@seed,goal] %></b><br/>
        <b>Description: </b><%= goal.description %><br/>
        <b>Timeline: </b><%= goal.timeline %>
        <% if !goal.assignments.empty? %>
          <br/><b>Assigned to:
            <% goal.assignments.each do |assignment| %>
              <%= link_to assignment.user.profile.name, assignment.user.profile %>
            <% end %></b>
        <% end %>

      </li>

    <% end %>
  </ul>
<%  end %>

<%= link_to 'Add Goal', new_seed_goal_path(@seed) %></p>

<p><b>Category</b>: <%= link_to @seed.category.name,@seed.category %></p>

<p><b>Tags</b>:
  <% if !@seed.tag_links.empty? %>
    <% @seed.tag_links.each do |tag_link| %>
      <%= tag_link.tag.name %>,
    <% end end %>
      <%= link_to "Add", new_tag_path(:tag_link => {:taggable_id => @seed.id,:taggable_type => "Seed",:tag_type => "tag"}) %>
</p>






  <%= link_to 'Edit', edit_seed_path(@seed) %> |
  <%= link_to 'Back', seeds_path %>

