<style type="text/css">
  form
  {
    display:inline;
  }
</style>
<script type="text/javascript">
  jQuery(function($){
    $('#add_tag_link').click(function(){
      $('#add_tag').load('<%= new_tag_path(:tag_link => {:taggable_id => @seed.id,:taggable_type => "Seed",:tag_type => "tag"}) %>', function(){
        $('#add_tag_link').hide();
        $('#tag_name').focus();
        $('#new_tag').bind('ajax:success', function(evt, data, status, xhr) {
          $('#add_tag').html("");
          /*$('#add_tag').html(data.msg);*/
          console.log(data.msg);
          $('#add_tag_link').before(data.tag + ", ");
          $('#add_tag_link').show();
        });
      });
    });
    $('.goal-item').click(function() {
      $(this).children('.goal-details').toggle('blind','slow');
    }).children('.goal-details').hide();
    $('.goal-item a').click(function(e){
      e.stopPropagation();
    });
  });
</script>

<h1><%= @seed.name %></h1>
<hr />


<div id="basics">
  <div class="section-label">basics</div>
  <div class="admin-box"><%= link_to "Edit",edit_seed_path,:class=>"edit"  %> </div>
  <div class="items">
    <div class="basic-item">
      <div class="basic-heading">Problem</div>
      <div class="basic-content"><%= @seed.problem %></div>
      <div style="clear:both"></div>
    </div>
    <div class="basic-item">
      <div class="basic-heading">Vision</div>
      <div class="basic-content"><%= @seed.vision %></div>
      <div style="clear:both"></div>
    </div>
    <div class="basic-item">
      <div class="basic-heading">Scope</div>
      <div class="basic-content"><%= @seed.scope %></div>
      <div style="clear:both"></div>
    </div>
  </div>
</div>
<hr />
<% if !@seed.goals.empty? %>

  <div id="goals">
    <div class="section-label">goals</div>
    <div class="items">
      <%  @seed.goals.each do |goal|  %>
        <div class="goal-item">
          <div class="admin-box"><%= link_to "Edit",[@seed,goal],:class=>"edit" %> </div>
          <div class="goal-name"><%= goal.name %></div>
          <div class="goal-desc"><%= goal.description %></div>
          <div class="goal-details">
            <div class="goal-attr"><b>Timeline:</b> <%= goal.timeline %></div>
            <% if !goal.assignments.empty? %>
              <div class="goal-attr">
                <b>Assigned to:</b>
                <% goal.assignments.each do |assignment| %>
                  <%= link_to assignment.user.profile.name, assignment.user.profile %>, 
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    
  </div>
<%  end %>
<hr />
<h3>Category: <%= link_to @seed.category.name,@seed.category %></h3>

<h3>Tags:
  <% if !@seed.tag_links.empty? %>
    <% @seed.tag_links.each do |tag_link| %>
      <%= link_to tag_link.tag.name, tag_link.tag %>,
    <% end end %>
  <button id="add_tag_link">Add Tag</button>
  <span id="add_tag"></span>
</h3>
<hr />
<h2>Created by: <%= link_to @seed.user.profile.name,@seed.user.profile %></h2>
<hr />
<p>
  <%= link_to 'Edit', edit_seed_path(@seed) %> |
  <%= link_to 'Back', seeds_path %>
</p>

