<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @seed.name %>
</p>

<p>
  <b>Problem:</b>
  <%= @seed.problem %>
</p>

<p>
  <b>Vision:</b>
  <%= @seed.vision %>
</p>

<p>
  <b>Scope:</b>
  <%= @seed.scope %>
</p>

<p><b>User</b>: <%= @seed.user.email %></p>

<p>Goals:
<% if !@seed.goals.empty? %>
<ul>
<%  @seed.goals.each do |goal|  %>
  <li><b><%= link_to goal.name, [@seed,goal] %></b><br/>
    <b>Description: </b><%= goal.description %><br/>
    <b>Timeline: </b><%= goal.timeline %>
    <% if !goal.assignments.empty? %>
    <br/><b>Assigned to:
      <% goal.assignments.each do |assignment| %>
        <%= link_to assignment.user.email, assignment %>
      <% end %></b>
    <% end %>
  
  </li>

<% end %>
</ul>
<%  end %>

<%= link_to 'Add Goal', new_seed_goal_path(@seed) %></p>





<%= link_to 'Edit', edit_seed_path(@seed) %> |
<%= link_to 'Back', seeds_path %>

