<%= form_for(@resource_stock) do |f| %>
  <% if @resource_stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_stock.errors.count, "error") %> prohibited this resource_stock from being saved:</h2>

      <ul>
      <% @resource_stock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :resource_id %><br />
    <%= f.text_field :resource_id %>
  </div>
    <%= f.hidden_field :resourceable_id,:value => @parent.id%>
    <%= f.hidden_field :resourceable_type,:value => @parent.class %>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :demand %><br />
    <%= f.text_field :demand %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
