<h1>Listing goals</h1>
<hr />
<% @goals.each do |goal| %>
<div class="index-item">
  <h3><%= link_to goal.name,goal %> - <%= link_to goal.goalable.name,goal.goalable %> (<%= goal.goalable_type%>) </h3>
  <p><%= goal.description %></p>
  <p>Timeline: <%= goal.timeline %></p>
  <div class="admin-box">
    <%= link_to 'Edit', edit_goal_path(goal),:class=>"edit" %>
    <%= link_to 'X', goal, :confirm => 'Are you sure?', :method => :delete,:class=>"destroy" %>
  </div>
</div>
<hr/>
<% end %>

<h3><%= link_to 'New Goal', new_goal_path %></h3>
