<script type="text/javascript">
jQuery(function($){
    $('#add_assignment').click(function(){
      $('#new_assignment_target').load('<%= new_assignment_path(:goal_id => @goal.id) %>', function(){
        $('#add_assignment').hide();
        $('#new_assignment').bind('ajax:success', function(evt, data, status, xhr) {
          $('#new_assignment_target').html("");
          console.log(data.msg);
          $('#assignments_list').append("<li></li>");
          $('#assignments_list li:last').load("/assignments/"+data.id);
          $('#add_assignment').show();
        });
      });
    });
    $('.Destroy').click(function(){
      $(this).parent().hide();
    });
  });
</script>


<p id="notice"><%= notice %></p>

<h1><%= @goal.name %></h1>

<h3>Description</h3>
<p><%= @goal.description %></p>

<h3>Timeline:</h3>
<p><%= @goal.timeline %></p>

<h3>Assignments:</h3>
<% if !@goal.assignments.empty? %>
<ul id="assignments_list">
  <% @goal.assignments.each do |assignment| %>
  <li><%= link_to assignment.user.profile.name, assignment.user.profile %> - <%= assignment.task %> (<%= link_to "X",assignment,:remote => true, :method => :delete,:class=>"Destroy" %>) </li>
  <% end %>
</ul>
<% end %>
<button id="add_assignment">Add Assignment</button>
<div id="new_assignment_target"></div>
<h3>Resources</h3>
<% if !@goal.resource_stocks.empty? %>
<ul>
  <% @goal.resource_stocks.each do |stock| %>
    <li><%= stock.demand%> - <%= stock.resource.name %> - <%= stock.quantity %></li>
  <% end %>
</ul>
<% end %>
<%= link_to 'Add Resource', new_resource_stock_path(:goal_id => @goal.id) %>




<p>This goal belongs to <%= link_to @goalable.name, @goalable %>.</p>


<%= link_to 'Edit', edit_polymorphic_path([@goalable,@goal]) %> |
<%= link_to 'Back', @goalable %>
